{% extends 'base.html.twig' %}

{% block title %}Toutes les notes
{% endblock %}

{% block body %}

	{{ dump(notes) }}
	{% for item in notes %}
		<h1>{{ item.author.username }}</h1>
	{% endfor %}

{% endblock %}
