{% extends 'base.html.twig' %}

{% block title %}Toutes les notes
{% endblock %}

{% block body %}
	<h1>All public notes</h1>

	{% for note in allNotes %}

		{% if note.title|lenght > 50 %}
			{{dump(note.title|slice(0,50))}}...
		{% endif %}
		
		{{dump(note)}}
		<a href="{{path('app_show', {'slug': note.slug})}}">Show</a>
	{% endfor %}

{% endblock %}
