{% extends 'base.html.twig' %}

{% block title %}Toutes les notes
{% endblock %}

{% block body %}
	<h1>All public notes</h1>
	<div>

		{% set lastMonth = date('2024-01-01') %}

		<p>
			Published
			{{ lastMonth|time_diff}}
			ago.</p>
	</div>

{% endblock %}
