<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- CodeXpress!
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			<script src="https://cdn.tailwindcss.com"></script>
		{% endblock %}
	</head>
	<body>
		{{ include('./components/navbar.html.twig') }}
		{% block body %}{% endblock %}
		{{ include('./components/footer.html.twig') }}
	</body>
</html>
