<div class="w-full h-full py-5 md:py-16 mt-8 rounded-md p-6 md:p-8 text-center">
    <div class="max-w-screen-lg mx-auto">
        <h1 class="text-4xl md:text-5xl font-bold">Premium notice</h1>
        <p class=" mb-4">This note is only available to premium users.</p>
        <p class=" mb-4">Subscribe here for coffee per month</p>
        <a href="#" class="bg-green-700 rounded-md py-2 px-3 hover:bg-green-600 self-end w-fit transition-all duration-200 ease-in-out text-slate-50">
            {{ ux_icon('mdi:coffee-outline', { 'class': 'h-5 w-5 text-slate-50 inline-block' }) }}
            Go Premium
        </a>
    </div>
</div>